
$black:"georgian-extra-bold","Eina-semibold","sailec-bold";
$bold: "georgian-bold","Eina-semibold","sailec-bold";
$regular: "georgian-regular","Eina-regular","sailec-medium";
$light: "georgian-light","Eina-regular","sailec-medium";

// .black {
//     font-family: $black;
// }
// .bold {
//     font-family: $bold;
// }

// .light {
//     font-family: $light;
// }

// .regular {
//     font-family: $regular;
// }


