// ====================== IN VARIABLES
$f-weight-black: 900;
$f-weight-bold: 800;
$f-weight-regular: 500;
$f-weight-light: 400;


.f-weight-bl{
    font-weight: $f-weight-black;
}

.f-weight-bo{
    font-weight: $f-weight-bold;
}

.f-weight-r{
    font-weight: $f-weight-regular;
}
.f-weight-l{
    font-weight: $f-weight-light;
}